<!-- raunak start -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device, initial-scale=1.0" />
  <meta
			property="og:description"
			content="Do you think you are the best in your city and want to compete with the best of the rest of the cities in the country? With the vision of giving everyone a platform to compete at a national level by bringing in only the best talent from all over India to Alcheringa IIT Guwahati, we present to you the City Auditions known as 'Highway to Alcher'. Join India’s biggest college cultural festival today!"
		/>
    <meta
			name="description"
			content="Do you think you are the best in your city and want to compete with the best of the rest of the cities in the country? With the vision of giving everyone a platform to compete at a national level by bringing in only the best talent from all over India to Alcheringa IIT Guwahati, we present to you the City Auditions known as 'Highway to Alcher'. Join India’s biggest college cultural festival today!"
		/>
  <link rel="stylesheet" href="{% static 'core/home.css' %}">
  <link rel="stylesheet" href="{% static 'core/landing/landing.css' %}">
  <link rel="stylesheet" href="{% static 'core/landing/cfa.css' %}" />
  <link rel="stylesheet" href="{% static 'core/combined.css' %}" />
  <link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			href="{% static 'core/favicon.ico' %}"
		/>
		<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

    <title>Alcheringa City Eliminations Portal | Alcheringa IIT Guwahati</title>
    <meta name="description" content="Participate in Alcheringa’s City Eliminations – the nationwide hunt for top performers to represent your city at Alcheringa, IIT Guwahati. Register, compete, and get details on events, venues, and ambassador opportunities. Join India’s biggest college cultural festival today!">
    <meta name="keywords" content="Alcheringa, City Eliminations, IIT Guwahati, college fest, campus ambassador, cultural competitions, youth festival, caportal, city auditions, talent hunt, India college events, arts, music, dance, drama, fashion, haute couture, vogue nation, rocko pheonix, registration, ambassador program">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="Alcheringa City Eliminations Portal | Alcheringa IIT Guwahati">
    <meta property="og:description" content="Be part of the pan-India City Eliminations – register, compete, and secure your place at Alcheringa, IIT Guwahati. Find event schedules, city rounds, and join the ambassador community!">
    <meta property="og:url" content="https://ceportal.alcheringa.co.in/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://ceportal.alcheringa.co.in/static/img/og-banner.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Alcheringa City Eliminations Portal | Alcheringa IIT Guwahati">
    <meta name="twitter:description" content="Your gateway to Alcheringa City Eliminations. Discover competitions, register, and learn how to become a campus ambassador.">
    <meta name="twitter:image" content="https://ceportal.alcheringa.co.in/static/core/landing/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://ceportal.alcheringa.co.in/">
    <!--Google analytics script-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QX9VT4R4Z7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QX9VT4R4Z7');
    </script>
</head>
<body>
  <!-- santosh start -->
  <section id="competition-section" class="competition page">
    <div class="all-matter-part">
      <div class="competition-header">
        <h1 class="competitions-heading">Find Competitions in Your City</h1>
        <div class="city-select">
          <div class="heading-location">
            <span class="location-icon" aria-hidden="true">
              <img src="{% static 'core/asset/location.png' %}" alt="location" class="location-icon-image" />
            </span>
            <span class="select-location-text">Select a location</span>
          </div>
          <button id="competitionsCityButton" class="city-button" type="button" aria-haspopup="listbox" aria-expanded="false">
            <img src="{% static 'core/asset/icon.png' %}" alt="arrow" class="location-dropdown-icon" />
          </button>
        </div>
      </div>

      <section class="main-part">
        <div class="competitions-and-filters-bar">
          <div class="names-of-competitions-and-filters">

          </div>
          <div class="filter-button">

          </div>
        </div>
        <div class="cards-grid">
          {% for city in cities %}
            {% for event in city.events.all %}
              <article class="comp-card" data-index="{{ forloop.counter }}">
                <div class="card-media">
            
                  {% if event.image %}
                    <img
                      src="{{ event.image.url }}"
                      alt="{{ event.name }}"
                      class="comp-img"
                    />
                  {% elif city.image %}
                    <img
                      src="{{ city.image.url }}"
                      alt="{{ event.name }}"
                      class="comp-img"
                    />
                  {% else %}
                    <img
                      src="{% static 'core/asset/CompetitionPhoto.png' %}"
                      alt="{{ event.name }}"
                      class="comp-img"
                    />
                  {% endif %}
                  <span class="badge">{{ event.get_event_type_display }}</span>
                </div>
                <div class="card-separator"></div>
                <div class="card-body">
                  <div class="card-body-matter">
                    <div class="card-heading-and-type">
                      <h3 class="card-title">{{ event.name }}</h3>
                      <p class="card-event-type">{{event.event_type}}</p>
                    </div>
                    <div class="date-and-place">
                      <div class="date">
                        <span class="detail-label">
                          <svg xmlns="http://www.w3.org/2000/svg" width="12.230189323425293" height="11.356603622436523" fill="white" class="bi bi-calendar4 event-icons" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                          </svg>
                        </span> 
                        <span class="detail-value">{{ city.time|date:'D, d M, Y' }}</span>
                      </div>
                      <div class="time">
                        {% if city.venue %}
                          <span class="detail-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.230189323425293" height="11.356603622436523" fill="white" class="bi bi-geo-alt" viewBox="0 0 16 16">
                              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                          </span> 
                          <span class="detail-value">{{ city.venue }}, {{city.name}}</span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="card-actions">
                    {% if not city.collab %}
                    <a class="register-link" href="#">
                      <button class="register-btn">
                        <div class="reg-circle">
                          <div class="reg-square"></div>
                        </div>
                        <div class="reg-text">
                          <p class="button-text">Register</p>
                        </div>
                      </button>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </article>
            {% endfor %}
          {% endfor %}
        </div>
      </section>
    </div>

  </section>
  <script src="{% static 'core/home_register.js' %}"></script>
</body>
  <!-- santosh end -->