/* Santosh start */

/* Competition page */
.competition-page{
  background-color: #0F0F0F;
}

.all-matter-part{
  margin: 7.5rem 7.5rem 7.5rem 7.5rem;
  gap: 6rem;
}

.competition-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.2rem;
}

.competitions-heading {
  background: linear-gradient(261.52deg, #F27949 7.08%, #A33A11 86.79%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poltawski Nowy;
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  line-height: 105%;
  letter-spacing: 0%;
}

.city-select{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: 1.5rem;
}

.heading-location{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 1.25rem;
}

.select-location-text{
  font-family: Hepta Slab;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 105%;
  letter-spacing: 0%;
}

.city-button{
  height: 1.5rem;
  width: 1.5rem;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Filters Tab */
.competitions-and-filters-bar{
  width: 100%;
  height: 3.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  border-radius: 0.75rem;
  padding: 0.65rem;
  background-color: #000000;
  gap: 0.65rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.filter-button{
  height: 3.6rem;
  opacity: 1;
  border-radius: 0.4rem;
  padding: 0.65rem;
  border-width: 1px;
  background: transparent;
  color: white;
  border: 1px solid transparent;
}

.filter-button:active{
  background-color: #2A2A2A;
  border: 1px solid #7F7F7F;
}

.names-of-competitions-and-filters{
  display: flex;
  align-items: center;
}

.filter-divider{
  margin: 0px 5px 0px 5px;
}

.clear-filter-button{
  display: flex;
  align-items: center;
  color: #DA4C4C;
}

.wrong-symbol{
  margin-bottom: 1px;
}

/* Competition Cards */
.cards-grid{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.comp-card{
  width: 23%;
  height: 29rem;
  opacity: 1;
  border-radius: 0.65rem;
  background: linear-gradient(163.35deg, #B9B9B9 4.31%, #5D5956 96.32%);
  border: 1.75px solid;
  border-image-source: linear-gradient(343.08deg, #1E1E1E 0%, #E1E1E1 98.84%);
  padding-left: 1rem;
  padding-top: 0.7rem;
  padding-right: 1rem;
  padding-bottom: 0.9rem;
}

.card-media{
  position: relative;
}

.card-media::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(145.5deg,rgba(0, 0, 0, 0.25),rgba(167, 167, 167, 0.25));
}

.comp-img{
  width: 100%;
  height: 15.5rem;
  opacity: 1;
  border-radius: 0.35rem;
  border: 1.75px solid;
  border-image-source: linear-gradient(145.5deg, #000000 1.56%, #A7A7A7 99.21%);
}

.badge{
  position: absolute;
  width: 2.75rem;
  height: 2rem;
  opacity: 1;
  border-width: 1px;
  top: 0.65rem;
  right: 0.5rem;
  border-radius: 5px;
  padding: 0.2rempx;
  font-family: Hepta Slab;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 0.8rem;
  line-height: 105%;
  letter-spacing: -1%;
  text-align: center;
  vertical-align: middle;
  width: 2.75rem;
  height: 2rem;
  opacity: 1;
  background-color: #2A2A2A;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.card-separator{
  height: 1px;
  background: #000;
  margin-top: 0.8rem;
  width: 118%;
  margin-left: -1.2rem;
}

.card-body{
  margin-top: 0.8rem;
  
}

.card-body-matter{
  position: relative;
  width: 100%;
  height: 6.5rem;
  opacity: 1;
  border-radius: 5px;
  padding-top: 0.35rem;
  padding-right: 0.5rem;
  padding-bottom: 0.35rem;
  padding-left: 0.5rem;
  border: 1.75px solid transparent;
  background: linear-gradient(#161616, #161616) padding-box, linear-gradient(145deg, #000000 1.56%, #A7A7A7 99.21%) border-box;
}

.card-title{
  height: 1.3rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  font-family: Poltawski Nowy;
  font-weight: 500;
  font-style: Italic;
  font-size: 1.3rem;
  line-height: 105%;
  letter-spacing: -1%;
  vertical-align: middle;
  color: #FFFFFF;
}

.card-event-type{
  margin-top: 0;
  margin-bottom: 0;
  height: 0.75rem;
  font-family: Hepta Slab;
  font-weight: 500;
  font-style: Medium;
  font-size: 0.7rem;
  line-height: 105%;
  letter-spacing: -1%;
  vertical-align: middle;
  color: rgba(255,255,255,0.7);
}

.date-and-place{
  margin-top: 1rem;
}

.date{
  margin-bottom: 0.35rem;
  height: 0.75rem;
  opacity: 1;
}

.detail-value{
  font-family: Hepta Slab;
  font-weight: 500;
  font-style: Medium;
  font-size: 0.65rem;
  letter-spacing: -1%;
  vertical-align: middle;
}

.card-actions{
  display: flex;
  justify-content: end;
  align-items: center;
}

.register-btn{
  width: 100%;
  height: 3rem;
  margin-top: 0.65rem;
  border-width: 1px;
  opacity: 1;
  border-radius: 1.5rem;
  background-color: #161616;
  border: 1px solid;
  border-image-source: linear-gradient(145.5deg, #000000 1.56%, #A7A7A7 99.21%);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: white;
  position: relative;
}

.register-btn:hover{
  color: rgba(255,255,255,0.5);
}

.register-btn.clicked .button-text {
  opacity: 0;
}

.register-btn.clicked .reg-circle {
  transform: translateX(190%);
}

.register-btn.clicked .reg-square {
  transform: rotate(90deg);
}

.register-link{
  text-decoration: none;
}

.button-text{
  font-family: Hepta Slab;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1rem;
  line-height: 105%;
  letter-spacing: -1%;
  vertical-align: middle;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.reg-circle{
  width: 2.25rem;
  height: 2.25rem;
  top: 0.4rem;
  left: 0.4rem;
  opacity: 1;
  border-width: 1px;
  border-radius: 50%;
  background: linear-gradient(261.52deg, #F27949 7.08%, #A33A11 86.79%);
  border: 1px solid linear-gradient(261.52deg, #A33A11 7.08%, #F27949 86.79%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
}

.reg-square{
  width: 1rem;
  height: 1rem;
  top: 1rem;
  left: 1rem;
  opacity: 1;
  border-radius: 3px;
  border-width: 1px;
  background: #161616;
  border: 1px solid, linear-gradient(261.52deg, #A33A11 7.08%, #F27949 86.79%);
  transition: transform 0.4s ease;
}