/* Santosh start */

/* Competition page */
.competition-page{
  background-color: #0F0F0F;
}

.all-matter-part{
  margin: 120px 119px 120px 119px;
  gap: 100px;
}

.competition-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 51px;
}

.competitions-heading {
    background: linear-gradient(261.52deg, #F27949 7.08%, #A33A11 86.79%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poltawski Nowy;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: 0%;
}

.city-select{
  display: flex;
  align-items: center;
  gap: 12px;
  height: 24px;
}

.heading-location{
  display: flex;
  align-items: center;
  gap: 8px;
  height: 21px;
}

.select-location-text{
  font-family: Hepta Slab;
  font-weight: 500;
  font-size: 20px;
  line-height: 105%;
  letter-spacing: 0%;
}

.city-button{
  height: 24px;
  width: 24px;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Competition Cards */
.comp-card{
  width: 280.1051940917969px;
  height: 463px;
  opacity: 1;
  border-top-left-radius: 10.48px;
  border-top-right-radius: 10.48px;
  border-bottom-right-radius: 10.48px;
  border-bottom-left-radius: 10.48px;
  background: linear-gradient(163.35deg, #B9B9B9 4.31%, #5D5956 96.32%);
  border: 1.75px solid;
  border-image-source: linear-gradient(343.08deg, #1E1E1E 0%, #E1E1E1 98.84%);
  padding-left: 15.72px;
  padding-top: 13.98px;
  padding-right: 15.72px;
}

.card-media{
  position: relative;
}

.card-media::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(145.5deg,rgba(0, 0, 0, 0.25),rgba(167, 167, 167, 0.25));
}

.comp-img{
  width: 248.97169494628906px;
  height: 239.3622589111328px;
  opacity: 1;
  border-radius: 5.24px;
  border: 1.75px solid;
  border-image-source: linear-gradient(145.5deg, #000000 1.56%, #A7A7A7 99.21%);
}

.badge{
  position: absolute;
  width: 44.218868255615234px;
  height: 30.218868255615234px;
  opacity: 1;
  border-width: 0.87px;
  top: 9.61px;
  left: 191.32px;
  border-radius: 5.24px;
  padding: 3.74px;
  font-family: Hepta Slab;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 13.48px;
  line-height: 105%;
  letter-spacing: -1%;
  text-align: center;
  vertical-align: middle;
  width: 44.218868255615234px;
  height: 30.218868255615234px;
  opacity: 1;
  background-color: #2A2A2A;
  border: 0.87px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.card-separator{
  height: 1px;
  background: #000;
  margin-top: 14.86px;
  width: 285.66px;
  margin-left: -19.5px;
}

.card-body{
  margin-top: 16.6px;
  
}

.card-body-matter {
  position: relative;
  width: 248.97px;
  height: 103.76px;
  opacity: 1;
  border-radius: 5.24px;
  padding-top: 5.24px;
  padding-right: 8.74px;
  padding-bottom: 5.24px;
  padding-left: 8.74px;
  border: 1.75px solid transparent;
  background: linear-gradient(#161616, #161616) padding-box, linear-gradient(145deg, #000000 1.56%, #A7A7A7 99.21%) border-box;
}

.card-title{
  height: 22px;
  margin-top: 5.24px;
  margin-bottom: 5.24px;
  font-family: Poltawski Nowy;
  font-weight: 500;
  font-style: Italic;
  font-size: 20.97px;
  line-height: 105%;
  letter-spacing: -1%;
  vertical-align: middle;
  color: #FFFFFF;
}

.card-event-type{
  margin-top: 0;
  margin-bottom: 0;
  height: 11px;
  font-family: Hepta Slab;
  font-weight: 500;
  font-style: Medium;
  font-size: 10.48px;
  line-height: 105%;
  letter-spacing: -1%;
  vertical-align: middle;
  color: rgba(255,255,255,0.7);
}

.date-and-place{
  margin-top: 16.6px;
}

.date{
  margin-bottom: 5.24px;
  height: 11.356603622436523px;
  opacity: 1;
}

.detail-value{
  font-family: Hepta Slab;
  font-weight: 500;
  font-style: Medium;
  font-size: 10.48px;
  letter-spacing: -1%;
  vertical-align: middle;
}

.card-actions{
  display: flex;
  justify-content: end;
  align-items: center;
}

.register-btn{
  width: 128px;
  height: 48px;
  margin-top: 10px;
  border-width: 1px;
  opacity: 1;
  border-radius: 23px;
  background-color: #161616;
  border: 1px solid;
  border-image-source: linear-gradient(145.5deg, #000000 1.56%, #A7A7A7 99.21%);
  display: flex;
  align-items: center;
  gap: 13px;
  color: white;
}

.register-btn:hover{
  color: rgba(255,255,255,0.5);
}

.register-btn.clicked .button-text {
  opacity: 0;
}

.register-btn.clicked .reg-circle {
  transform: translateX(80px);
}

.register-btn.clicked .reg-square {
  transform: rotate(90deg);
}

.register-link{
  text-decoration: none;
}

.button-text{
  font-family: Hepta Slab;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 105%;
  letter-spacing: -1%;
  vertical-align: middle;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.reg-circle{
  width: 36px;
  height: 36px;
  top: 6px;
  left: 6px;
  opacity: 1;
  border-width: 1px;
  border-radius: 50%;
  background: linear-gradient(261.52deg, #F27949 7.08%, #A33A11 86.79%);
  border: 1px solid linear-gradient(261.52deg, #A33A11 7.08%, #F27949 86.79%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
}

.reg-square{
  width: 16px;
  height: 16px;
  top: 16px;
  left: 16px;
  opacity: 1;
  border-radius: 3px;
  border-width: 1px;
  background: #161616;
  border: 1px solid, linear-gradient(261.52deg, #A33A11 7.08%, #F27949 86.79%);
  transition: transform 0.4s ease;
}